/*---------- RESET------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

/*---------- HEADER------------- */
header .nav-gral {
  background-color: #398B79;
  text-align: center; }

header div .logo {
  width: 8rem;
  height: auto; }

header div .btn-menu {
  border: 2px solid #A9CEBC;
  padding: 0.2rem; }
  header div .btn-menu img {
    width: 2.3rem;
    height: auto; }

header div .btn-menu:focus {
  box-shadow: none; }

header div div ul li .menu-color {
  color: #FFFFFF;
  font-family: "Lato", sans-serif; }

/*---------- FOOTER ------------- */
.bx-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #5d5d5d;
  padding: 0.6rem 0; }
  .bx-footer p {
    font-family: "Lato", sans-serif;
    color: #FFFFFF;
    font-size: 0.7rem; }
  .bx-footer .bx-redes {
    margin-bottom: 0.7rem; }
    .bx-footer .bx-redes a {
      color: #EDE977;
      margin: 1rem 0.8; }

.contenedor-nosotros, .contenedor-microverdes, .contenedor-cultivo, .contenedor-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0; }

.contenedor-nosotros .int-nosotros, .contenedor-microverdes .int-microverdes, .contenedor-cultivo .int-cultivo, .contenedor-contacto .int-contacto {
  text-align: center;
  margin: 3rem;
  width: 70%;
  margin-bottom: 3rem; }

.contenedor-index h1, .contenedor-nosotros .int-nosotros h1, .contenedor-microverdes .int-microverdes h1, .contenedor-cultivo .int-cultivo h1, .contenedor-contacto .int-contacto h1 {
  font-family: "Fugaz One", cursive;
  font-size: 2.5rem; }

.contenedor-index h2, .contenedor-nosotros .int-nosotros h2, .contenedor-microverdes .int-microverdes h2, .contenedor-cultivo .int-cultivo h2, .contenedor-contacto .int-contacto h2 {
  font-family: "Lato", sans-serif;
  font-size: 1rem; }

.contenedor-nosotros .contenedor-card h3, .contenedor-microverdes .contenedor-galeria .card-variedad h3, .contenedor-cultivo .card-cultivo .card-text h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 700; }

.contenedor-nosotros .contenedor-card p, .contenedor-microverdes .contenedor-galeria .card-variedad p, .contenedor-cultivo .card-cultivo .card-text p {
  font-size: 1rem;
  font-family: "Lato", sans-serif; }

/*---------- MAIN INDEX ------------- */
.contenedor-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/index.png);
  background-size: cover;
  height: 75vh; }
  .contenedor-index h1 {
    color: #FFFFFF;
    -webkit-text-stroke: 1px #525252; }
  .contenedor-index h2 {
    color: #FFFFFF; }

.contenedor-nosotros, .contenedor-microverdes, .contenedor-cultivo, .contenedor-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0; }

.contenedor-nosotros .int-nosotros, .contenedor-microverdes .int-microverdes, .contenedor-cultivo .int-cultivo, .contenedor-contacto .int-contacto {
  text-align: center;
  margin: 3rem;
  width: 70%;
  margin-bottom: 3rem; }

.contenedor-index h1, .contenedor-nosotros .int-nosotros h1, .contenedor-microverdes .int-microverdes h1, .contenedor-cultivo .int-cultivo h1, .contenedor-contacto .int-contacto h1 {
  font-family: "Fugaz One", cursive;
  font-size: 2.5rem; }

.contenedor-index h2, .contenedor-nosotros .int-nosotros h2, .contenedor-microverdes .int-microverdes h2, .contenedor-cultivo .int-cultivo h2, .contenedor-contacto .int-contacto h2 {
  font-family: "Lato", sans-serif;
  font-size: 1rem; }

.contenedor-nosotros .contenedor-card h3, .contenedor-microverdes .contenedor-galeria .card-variedad h3, .contenedor-cultivo .card-cultivo .card-text h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 700; }

.contenedor-nosotros .contenedor-card p, .contenedor-microverdes .contenedor-galeria .card-variedad p, .contenedor-cultivo .card-cultivo .card-text p {
  font-size: 1rem;
  font-family: "Lato", sans-serif; }

/*---------- MAIN NOSOTROS ------------- */
.contenedor-nosotros .int-nosotros {
  border-bottom: 1px solid #398B79; }
  .contenedor-nosotros .int-nosotros h1 {
    color: #398B79; }
  .contenedor-nosotros .int-nosotros h2 {
    color: #5d5d5d; }

.contenedor-nosotros .contenedor-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem; }
  .contenedor-nosotros .contenedor-card .card-nosotros {
    width: 70%; }

.contenedor-nosotros, .contenedor-microverdes, .contenedor-cultivo, .contenedor-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0; }

.contenedor-nosotros .int-nosotros, .contenedor-microverdes .int-microverdes, .contenedor-cultivo .int-cultivo, .contenedor-contacto .int-contacto {
  text-align: center;
  margin: 3rem;
  width: 70%;
  margin-bottom: 3rem; }

.contenedor-index h1, .contenedor-nosotros .int-nosotros h1, .contenedor-microverdes .int-microverdes h1, .contenedor-cultivo .int-cultivo h1, .contenedor-contacto .int-contacto h1 {
  font-family: "Fugaz One", cursive;
  font-size: 2.5rem; }

.contenedor-index h2, .contenedor-nosotros .int-nosotros h2, .contenedor-microverdes .int-microverdes h2, .contenedor-cultivo .int-cultivo h2, .contenedor-contacto .int-contacto h2 {
  font-family: "Lato", sans-serif;
  font-size: 1rem; }

.contenedor-nosotros .contenedor-card h3, .contenedor-microverdes .contenedor-galeria .card-variedad h3, .contenedor-cultivo .card-cultivo .card-text h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 700; }

.contenedor-nosotros .contenedor-card p, .contenedor-microverdes .contenedor-galeria .card-variedad p, .contenedor-cultivo .card-cultivo .card-text p {
  font-size: 1rem;
  font-family: "Lato", sans-serif; }

/*---------- MAIN MICROVERDES ------------- */
.contenedor-microverdes .int-microverdes {
  border-bottom: 1px solid #2A583D; }
  .contenedor-microverdes .int-microverdes h1 {
    color: #2A583D; }
  .contenedor-microverdes .int-microverdes h2 {
    color: #5d5d5d; }

.contenedor-microverdes .contenedor-galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  justify-items: center;
  gap: 2rem; }
  .contenedor-microverdes .contenedor-galeria .card-variedad {
    width: 60%; }

.contenedor-nosotros, .contenedor-microverdes, .contenedor-cultivo, .contenedor-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0; }

.contenedor-nosotros .int-nosotros, .contenedor-microverdes .int-microverdes, .contenedor-cultivo .int-cultivo, .contenedor-contacto .int-contacto {
  text-align: center;
  margin: 3rem;
  width: 70%;
  margin-bottom: 3rem; }

.contenedor-index h1, .contenedor-nosotros .int-nosotros h1, .contenedor-microverdes .int-microverdes h1, .contenedor-cultivo .int-cultivo h1, .contenedor-contacto .int-contacto h1 {
  font-family: "Fugaz One", cursive;
  font-size: 2.5rem; }

.contenedor-index h2, .contenedor-nosotros .int-nosotros h2, .contenedor-microverdes .int-microverdes h2, .contenedor-cultivo .int-cultivo h2, .contenedor-contacto .int-contacto h2 {
  font-family: "Lato", sans-serif;
  font-size: 1rem; }

.contenedor-nosotros .contenedor-card h3, .contenedor-microverdes .contenedor-galeria .card-variedad h3, .contenedor-cultivo .card-cultivo .card-text h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 700; }

.contenedor-nosotros .contenedor-card p, .contenedor-microverdes .contenedor-galeria .card-variedad p, .contenedor-cultivo .card-cultivo .card-text p {
  font-size: 1rem;
  font-family: "Lato", sans-serif; }

/*---------- MAIN CULTIVO ------------- */
.contenedor-cultivo .int-cultivo {
  border-bottom: 1px solid #EDE977; }
  .contenedor-cultivo .int-cultivo h1 {
    color: #EDE977; }
  .contenedor-cultivo .int-cultivo h2 {
    color: #5d5d5d; }

.contenedor-cultivo .card-cultivo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin-bottom: 2rem; }
  .contenedor-cultivo .card-cultivo img {
    width: 100%;
    height: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .contenedor-cultivo .card-cultivo .card-text {
    font-family: "Lato", sans-serif;
    border: 1px solid #d0d0d0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-family: 'Lato', sans-serif;
    padding: 1rem; }

.contenedor-nosotros, .contenedor-microverdes, .contenedor-cultivo, .contenedor-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0; }

.contenedor-nosotros .int-nosotros, .contenedor-microverdes .int-microverdes, .contenedor-cultivo .int-cultivo, .contenedor-contacto .int-contacto {
  text-align: center;
  margin: 3rem;
  width: 70%;
  margin-bottom: 3rem; }

.contenedor-index h1, .contenedor-nosotros .int-nosotros h1, .contenedor-microverdes .int-microverdes h1, .contenedor-cultivo .int-cultivo h1, .contenedor-contacto .int-contacto h1 {
  font-family: "Fugaz One", cursive;
  font-size: 2.5rem; }

.contenedor-index h2, .contenedor-nosotros .int-nosotros h2, .contenedor-microverdes .int-microverdes h2, .contenedor-cultivo .int-cultivo h2, .contenedor-contacto .int-contacto h2 {
  font-family: "Lato", sans-serif;
  font-size: 1rem; }

.contenedor-nosotros .contenedor-card h3, .contenedor-microverdes .contenedor-galeria .card-variedad h3, .contenedor-cultivo .card-cultivo .card-text h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 700; }

.contenedor-nosotros .contenedor-card p, .contenedor-microverdes .contenedor-galeria .card-variedad p, .contenedor-cultivo .card-cultivo .card-text p {
  font-size: 1rem;
  font-family: "Lato", sans-serif; }

/*---------- MAIN CONTACTO ------------- */
.contenedor-contacto .int-contacto {
  border-bottom: 1px solid #A9CEBC; }
  .contenedor-contacto .int-contacto h1 {
    color: #A9CEBC; }
  .contenedor-contacto .int-contacto h2 {
    color: #5d5d5d; }

.contenedor-contacto .contenedor-formulario {
  width: 75%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem; }
  .contenedor-contacto .contenedor-formulario form .label-contacto {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; }
  .contenedor-contacto .contenedor-formulario form .input-contacto, .contenedor-contacto .contenedor-formulario form .mensaje {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  .contenedor-contacto .contenedor-formulario form .mensaje {
    height: 150px;
    resize: none; }
  .contenedor-contacto .contenedor-formulario form .input-boton[type="submit"] {
    background-color: #69CC98;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer; }
  .contenedor-contacto .contenedor-formulario form .input-boton:hover {
    background-color: #478864; }
