/*---------- RESET------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

/*---------- HEADER------------- */
.nav-gral {
  background-color: #398B79;
  text-align: center; }

.logo {
  width: 8rem;
  height: auto; }

.btn-menu {
  border: 2px solid #A9CEBC;
  padding: 0.2rem; }

.btn-menu img {
  width: 2.3rem;
  height: auto; }

.btn-menu:focus {
  box-shadow: none; }

.menu-color {
  color: #fff;
  font-family: 'Lato', sans-serif; }
