/*---------- RESET------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

//html
@import "./html/_header.scss";
@import "./html/_footer.scss";
@import "./html/_index.scss";
@import "./html/_nosotros.scss";
@import "./html/_microverdes.scss";
@import "./html/_cultivo.scss";
@import "./html/_contacto.scss";