/*---------- RESET------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



//html
@import "./componentes/header";
@import "./componentes/_footer.scss";
@import "./html/_index.scss";
@import "./html/_nosotros.scss";
@import "./html/_microverdes.scss";
@import "./html/_cultivo.scss";
@import "./html/_contacto.scss";
@import "./componentes/mediaq.scss";
@import "./componentes/keyframes";