@import "../utilidades/_mixin";
@import "../utilidades/_variables";
@import "../utilidades/_listas";
@import "../utilidades/_extend";
@import "../utilidades/_maps";

/*---------- MAIN INDEX ------------- */

.contenedor-index{
    @include flex-col;
    background-image: url(../img/index.png);
    background-size: cover;
    height: 75vh;
    animation: mover-fondo 30s linear infinite alternate;
    h1{
        color: nth($colores, 7);
        -webkit-text-stroke: 1px rgb(82, 82, 82);
        opacity: 0;
        animation: fadein 0.6s ease-in-out forwards;

    }
    h2{
        color: nth($colores, 7 );
        opacity: 0;
        animation: fadein 0.6s ease-in-out forwards;
    }
    
}