@import "../utilidades/_mixin";
@import "../utilidades/_variables";
@import "../utilidades/_listas";
@import "../utilidades/_extend";
@import "../utilidades/_maps";
/*---------- MAIN NOSOTROS ------------- */

.contenedor-nosotros {
    @extend %flex-contenedor;
    
    .int-nosotros {
        @extend %flex-int;
        border-bottom: 1px solid $color-primario;
    }
    .contenedor-card {
        @include flex-col;
        margin-top: 2rem;
        gap: 2rem;
        .card-nosotros{
        @extend %card;
        }
    }    
}

