@import "../utilidades/_mixin";
@import "../utilidades/_variables";
@import "../utilidades/_listas";
@import "../utilidades/_extend";
/*---------- MAIN NOSOTROS ------------- */

.contenedor-nosotros {
    @extend %flex-contenedor;

    .int-nosotros {
        @extend %flex-int;
        border-bottom: 1px solid $color-primario;
        h1 {
            @extend %h1;
            color: $color-primario;
        }
    
        h2 {
            @extend %h2;
            color: nth($colores, 6)
        }
    }
    .contenedor-card {
        @include flex-col;
        margin-top: 2rem;
        gap: 2rem;
        .card-nosotros{
            width: 70%;
        }
        h3{
            @extend %h3;
        }
        p{
            @extend %p;
        }
    }    
}
