@import "../utilidades/_mixin";
@import "../utilidades/_variables";
@import "../utilidades/listas";

/*---------- HEADER------------- */

header{
    .nav-gral {
        background-color: $color-primario;
        text-align: center;
    }
    div{
        .logo {
            width: 8rem;
            height: auto;
        }
        .btn-menu {
            border: 2px solid #A9CEBC;
            padding: 0.2rem;
            img {
                width: 2.3rem;
                height: auto;
            }
        }
        .btn-menu:focus {
            box-shadow: none;
        }
        div{
            ul{
                li{
                    .menu-color {
                        color:nth($colores, 7 );
                        font-family: $fuente-principal;
                    }
                }
            }
        }
    }
}




