
/*---------- ANIMACIONES ------------- */

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes mover-fondo {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
