@mixin flex-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@mixin grid-galeria{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 2rem;
}

@mixin grid-galeria-tablet{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 2rem;
    width: 70%;
}

@mixin grid-galeria-pc{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 2rem;
    width: 70%;
}


